body{
	margin:0;
}

#score-bar{
	position: fixed;
	z-index: -1;
	height: 0;
	width: 100%;
	opacity: 0.5;
	background: #2E7Ca3;
	pointer-events: none;
	bottom: 0;
}
#time-bar{
	background: #FF4D00;
	opacity: 0.6;
	height: 2px;
	position: fixed;
	top: 0;
	width: 100%;
}

#choice-board{
	padding: 0;
	margin:0 auto;
	position: relative;
	height: 80%;
	top: 10%;
	width: 88%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.choices{
	color: #fff;
	width: 20vw;
	height:20vw;
	text-align: center;
	font-size: 16vw;
	font-family: "Avant Garde", "Courier";
	font-weight: bold;
	float: left;
	margin: auto;
	border-radius: 50%;
	background: #777;
	cursor: pointer;

	box-shadow: 0 1px 0 #ccc,
	0 10px 10px rgba(0,0,0,.15);
	position: relative;
}

.choices.pressed:not(.disabled){
	box-shadow: 0 1px 0 #ccc,
	0 12px 12px rgba(0,0,0,.15);
}

.choices.disabled{
	cursor: not-allowed;
}

.choices.pressed:not(.disabled){
	box-shadow: 0 1px 0 #ccc,
	0 5px 5px rgba(0,0,0,.15);
}
.texts-noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;           /* non-prefixed version, currently
	not supported by any browser */
}
.choices canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#curtain{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	background: #BBB;
	opacity: 0.5;
	z-index: 49;
	box-shadow: inset 0px 0px 20vw 10vw rgba(100,100,100,0.9);
}
#result-board{
	display: none;
	z-index: 50;
	position: fixed;
	font-weight: bold;
	font-family: courier;
	font-size: 8vw;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lose{
	color: #2E7Ca3;
	text-shadow: 0.5vw 0.5vw #333;
}
.win{
	color: #FF4D00;
	text-shadow: 0.5vw 0.5vw yellow;
}
